extends layout.pug

block content
  h1 Loans
  p
    a.button(href='/loans/new') Create New Loan
  p
    | Filters 
    a(href='loans') All
    |  | 
    a(href='/loans/overdue_loans') Overdue
    |  | 
    a(href='/loans/checked_loans') Checked Out
  table
    thead
      tr
        th Book
        th Patron 
        th Loaned on
        th Return by 
        th Returned on
        th Action
    tbody
      each loan in loans
        tr
          td
            a(href= `/books/edit/${loan.Book.id}`) #{loan.Book.title}
          td
            a(href=`/patrons/edit/${loan.patron_id}`) #{loan.Patron.first_name} #{loan.Patron.last_name}
          td #{loan.loaned_on}
          td #{loan.return_by}
          td #{loan.returned_on}
          td
            if(!loan.returned_on)
              a.button(href=`/books/return/${loan.Book.id}`) Return Book